.alert {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50%;
  max-height: 100%;
  max-width: 100%;
  text-align: center;  
  flex-wrap: wrap;
}

.v-sheet.v-alert.v-sheet--shaped {
  border-radius: 24px 4px 4px 24px;
}

.v-card > *:last-child:not(.v-btn):not(.v-chip):not(.v-avatar).v-sheet--shaped {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 24px;
}

.flexContainer {
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}

.gameWindow {
  flex-grow: 3;
  min-width: 70%;
  flex-shrink: 1;
  min-height: 70%;
  position: relative;

}

.boar {
  width: 192px;
  height: 192px;
  background: url(../../../assets/boar.png);
  position: absolute;
  transition: top 2s, left 2s;
}

.boarRotate {
  transform: rotateY(180deg);
}

.bush {
  width: 192px;
  height: 102px;
  background: url(../../../assets/krzak4.png);
  position: absolute;
  transform: scale(0.7);
}

.gameSidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  min-width: 150px;
  flex-shrink: 3;
  flex-basis: 0;
  min-height: 20%;
  padding: 5px;
  margin: 0px;
  gap: 5px;
}

.flexForm {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  gap: 10px;
  width: 100%;
  border: 1px solid #424242;
  padding: 10px;
  border-radius: 10px;
}

.flexForm>div {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 150px;
  min-width: 50px;
  max-width: 100%;
}

.flexForm>div:has(button) {
  display: flex;
  justify-content: center;
}

.iconDiv {
  display: flex;
  justify-items: space-around;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  border: 1px solid #424242;
  padding: 5px;
  border-radius: 10px;
}