.containerDictionary {
    display: flex;
    height: 92%;
    align-items: center;
    justify-content: center;
}

.dictionaryField {
    display: flex;
    height: 100%;
    width: 80%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.indexDictionary {
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #424242;
    background-color: var(--v-secondary-base);

}

.textField {
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: 1px solid #424242;
    border-radius: 2%;
    background-color: var(--v-secondary-base);
}

.answerField {
    display: flex;
    min-height: 85%;
    width: 100%;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid #424242;
    background-color: var(--v-secondary-base);
}

.term {
    height: 15%;
    width: 100%;
    border: 1px solid #424242;
    border-radius: 2%;
    padding-top: 10px;
    padding-left: 10px;
    background-color: var(--v-secondary-darken1);
}

.definition {
    height: 60%;
    width: 100%;
    border: 1px solid #424242;
    border-radius: 2%;
    padding-top: 10px;
    padding-left: 10px;
    background-color: var(--v-secondary-darken1);
}

.example {
    height: 20%;
    width: 100%;
    border: 1px solid #424242;
    border-radius: 2%;
    padding-top: 10px;
    padding-left: 10px;
    background-color: var(--v-secondary-darken1);
}

.btnField {
    display: flex;
    min-height: 15%;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: flex-end;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    border-bottom: 1px solid #424242;  
    background-color: var(--v-secondary-darken2);
}

.alert {
    position: absolute;
    top: 10px;
    justify-content: center;
    width: 50%;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .v-sheet.v-alert.v-sheet--shaped {
    border-radius: 24px 4px 4px 24px;
  }
  
  .v-card>*:last-child:not(.v-btn):not(.v-chip):not(.v-avatar).v-sheet--shaped {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 24px;
  }