.hamburger {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.hamburger>span,
.hamburger>span::after,
.hamburger>span::before {
    width: 26px;
    height: 3px;
    display: block;
    position: absolute;
   
}

.hamburger>span {
    top: 18.5px;
    left: 7px;
    transition: all ease-in-out .5s;
}

.hamburger>span::after {
    top: 10px;
    content: '';
    background-color: inherit;
    transition: top .5s ease-in-out, transform .5s ease-in-out;
}

.hamburger>span::before {
    top: -10px;
    content: '';
    background-color: inherit;
    transition: top .5s ease-in-out, transform .5s ease-in-out;
}

.hamburger.active>span {
    transform: rotate(135deg);
}

.hamburger.active>span::after {
    top: 0px;
    transform: rotate(90deg);
}

.hamburger.active>span::before {
    top: 0px;
    transform: rotate(0deg);
}

.opacityMode {
    opacity: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 100%;
}

.hamburger:hover>.opacityMode {
    opacity: 0.2;

}
