.containerSorting {
  display: flex;
  height: 92%;
  gap: 10px;
  justify-content: space-between;
}

.oneSortDiv {
  display: flex;
  padding: 2%;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5%;
  height: inherit;
  width: 50%;
}

.graph {
  width: 300px;
  height: 300px;
  padding: 5%;
  display: flex;
  background-color: pink;
  margin: 5%;
  align-items: flex-end;
  position: relative;
  justify-content: flex-start;
  gap: 3px;
}

.column {
  background-color: blue;
  opacity: 1;
  max-height: 100%;
  max-width: 100%;
  transition: all 1s ease;
}

.columns-move,
.columns-enter-active,
.columns-leave-active {
  transition: all 1s ease;
}

.columns-leave-to {
  opacity: 0;
  max-height: 0%;
}

.columns-enter {
  opacity: 0;
  max-height: 0%;
}

.columns-enter-to,
.columns-leave-from {
  opacity: 1;
  max-height: 100%;
}

.columns-leave-active {
  opacity: 0;
  max-height: 0%;
}