.containerHome {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  background: linear-gradient(300deg, var(--v-background-base), var(--v-primary-base), var(--v-secondary-base), var(--v-tertiary-base));
  background-size: 300% 300%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: left;
  }
  25% {
    background-position: top;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: bottom;
  }
  100% {
    background-position: left;
  }
}

.homeMessage {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  opacity: 1;
}

.homeMessage.invertedMargins {
  margin-top: 50px;
}

.slide-left-enter-active,
.slide-right-enter-active,
.slide-bottom-enter-active {
  transition: all 3s ease-in-out;
}

.slide-left-enter,
.slide-right-enter,
.slide-bottom-enter {
  opacity: 0;
}

.slide-left-enter {
  transform: translateX(-50px);
}

.slide-right-enter {
  transform: translateX(50px);
}

.slide-bottom-enter {
  transform: translateY(-50px);
}

.languageBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 20px;
  gap: 20px;
}