.containerAboutMe {
  height: 92%;
  width: 100%;
  display: flex;
}

.titleAboutMe {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.presentationText {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%
}

.presentation-opacity-enter-active,
.presentation-opacity-leave-active {
  transition: all 3s ease-in-out;
}

.presentation-opacity-enter,
.presentation-opacity-leave-to {
  opacity: 0;
}

.slide-title-enter-active {
  transition: transform 1s ease-in-out 5s, top 2s ease-in-out 5s, opacity 5s ease-in-out 1s;
  position: absolute;
}

.slide-title-enter {
  opacity: 0;
  transform: translate(-50%, 50%);
  left: 50%;
  position: absolute;
  top: 50%;
}

@media (max-width: 500px) {
  .titleAboutMe {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .presentationText {
    position: absolute;
    top: 40%;
    padding-left: 5%;;
    transform: translate(-50%, -50%);
  }

  .divTexts {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.presentation-opacity-enter-active,
.presentation-opacity-leave-active {
  transition: all 3s ease-in-out;
}

.presentation-opacity-enter,
.presentation-opacity-leave-to {
  opacity: 0;
}

.slide-title-enter-active {
  transition: transform 1s ease-in-out 5s, top 2s ease-in-out 5s, opacity 5s ease-in-out 1s;
  position: absolute;
}

.slide-title-enter {
  opacity: 0;
  transform: translate(-50%, 50%);
  left: 50%;
  position: absolute;
  top: 50%;
}
}

.divTexts {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 9%;
}

.textOne,
.textTwo {
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0px;
}

.slide-bottom-enter-active {
  transition: all 3s ease-in-out;
}

.slide-bottom-enter {
  opacity: 0;
  transform: translateY(-20px);
}